header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: darkslateblue;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9%;
    z-index: 1000;
}

main{
    margin-top: 9%;
}

header a {
    text-decoration: none;
    color: darkslateblue;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 170%;
}

header img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}


header a[href="${pageContext.servletContext.contextPath}/login"] {
    background-color: darkslateblue;
    color: white;
    border-radius: 5%;
}

header a[href="${pageContext.servletContext.contextPath}/login"]:hover {
    background-color: darkslateblue;
    color: white;
    border-radius: 5%;
}


table {
    border-collapse: collapse;
    border: 1px solid gray;
}

td {
    padding: 10px;
    border: 1px solid gray;
    vertical-align: top;
}

.price, .quantity {
    text-align: right;
}

.error {
    color: red;
}

.success {
    color: lawngreen;
}

.centerAlign {
    text-align: center;
}

img.product-tile {
    max-width: 64px;
}

.aboutUs {
    text-align: left;
    font-size: 32px;
}



.nickname {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
}

a:visited:hover {
    color: darkslateblue;
    text-decoration: none;
}

.main-welcome{
    background-color: darkslateblue;
    color: white;
    text-align: center;
    height: 40%;
    margin-left: -5%;
    margin-right: -5%;
}

.main-welcome h1{
    padding-top: 8%;
    font-family: 'Arial', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-left: 3%;
    margin-right: 3%;
    color: darkslateblue;
    font-family: 'Arial', sans-serif;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image {
    height: 80%;
    overflow: hidden;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    text-align: center;
}

.price {
    padding: 10px;
    font-weight: bold;
}

.main-catalog h1{
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Arial', sans-serif;
    color: darkslateblue;
    text-align: center;
}

.main-info{
    background-color: darkslateblue;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 4%;
    margin-top: 3%;
    margin-left: -5%;
    margin-right: -5%;
}